*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


h1{
    color: brown;
}

h3{
    color: blueviolet;
}

#login{
    color: cadetblue;
}

#signup{
    background-color: aquamarine;
    color: black;
}