div{
    height: 200px;
    width: 500px;
    background-color: aquamarine;

    /* border-width: 5px;
    border-style: dashed;
    border-color: blue; */

    border: 5px dashed blue;

    border-top: 5px dotted red;

    border-radius: 20px;
}

h1{border : 4px solid red;
   
}